<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shiraz.get_your_cv">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.ashandilya.android.get_your_cv.menu"></activity>
        <activity android:name="com.ashandilya.android.get_your_cv.googleSignIn">

        </activity>
        <activity android:name="com.ashandilya.android.get_your_cv.LoginActivity" />
        <activity
            android:name="com.ashandilya.android.get_your_cv.CVActivity"
            android:theme="@style/CVActivity" />
        <activity
            android:name="com.ashandilya.android.get_your_cv.Login2Activity"
            android:parentActivityName="com.ashandilya.android.get_your_cv.LoginActivity" />
        <activity android:name="com.ashandilya.android.get_your_cv.DrawerActivity" />
        <activity android:name="com.ashandilya.android.get_your_cv.ListviewActivity" />
        <activity android:name="com.ashandilya.android.get_your_cv.MyCustomAdapter" />
        <activity android:name="com.ashandilya.android.get_your_cv.Image1Activity" />
        <activity android:name="com.ashandilya.android.get_your_cv.Image2Activity" />
        <activity android:name="com.ashandilya.android.get_your_cv.Image3Activity" />
        <activity android:name="com.ashandilya.android.get_your_cv.PdfActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="LOCATION_PERMISSION_REQUEST_CODE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>